    <!-- tipografia -->
.pixelify-sans {
    font-family:Verdana, sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

 <!--definimos titulos y enlaces cambio de color -->
h1 {
    color: blue;
    font-size: 24px;
}

h2 {
    color: brown;
    font-size: 24px;
}

a {
    color: red;
    font-size: 24px;
}
<!--hover-->
a:hover {
    color: red;
    text-decoration: underline;
}


<!--class-->
.text-important {
    color: yellow;
    font-weight: bold;
}

<!--id con # -->
#hamburgesa {
    font-size: 24px;
    text-decoration: underline;
}

p:first-child {
    color: red;
}

p:last-child {
    color: blue;
}

p::before {
  content: "👉 ";
  color: blue;
}

p::after {
  content: " ✔";
  color: green;
}

#Curriculum > h2 {
    color: red;
}